<%- include('partial/header') %>
<div >
    <h2 class="text">Position<span>to</span> where??</h4>
</div>
<p>sherer</p><hr>
<p>q</p><hr>
<a>d</a>
<p>p</p><br>
<div class="pp">
    <ul>
        <li>home</li>
        <li>h1</li>
        <li>h2</li>
    </ul>
</div>

<p>q</p><hr>
<p>p</p><br>
<p>s</p><hr>
<p>q</p><hr>
<p>p</p><br>
<%- include('partial/footer') %>